.formField {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formField label {
    font-weight: 500;
}

.formField input {
    border: 1px solid var(--border-color1);
    border-radius: 10px;
    padding: 10px;
}