.appointmentItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    padding: 25px;
    background-color: white;
    border: 1px solid var(--border-color2);
    border-radius: 20px;
}

.appointmentItem > div {
    overflow-x: auto;
    white-space: nowrap;
}
.appointmentItem > div::-webkit-scrollbar {
    display: none;
}